* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
    text-decoration: none;
    outline: none;
    list-style-type: none;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(13, 18, 30);
    position: relative;
}

.hiddenbox {
    opacity: 0;
    filter: blur(0);
    transform: translateY(-500px);
    display: none;
    z-index: -5;
    transition: 0.4s ease;
}

.showbox {
    opacity: 2;
    display: flex;
    filter: blur(0);
    transform: translateY(0);
    transition: 0.4s ease;
}

.divhide {
    opacity: 0;
    transform: translateX(-200%);
    transition: 0.7s ease;
}

.divshow {
    opacity: 1;
    transform: translateX(0);
}

/* AGENDAR HORARIO */

.Agendar {
    background-color: rgb(10, 13, 24);
    padding: 30px 20px;
    width: 490px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 35%;
    border-radius: 10px;
    z-index: 2;
}

.divAG {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.AGClose {
    background: none;
    color: white;
    font-size: 60px;
    position: absolute;
    right: -60px;
    top: -30px;
    cursor: pointer;
}

.h1AG {
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px;
}

.pAG {
    color: white;
    margin-bottom: 8px;
    font-size: 15px;
}

.inputAG {
    height: 35px;
    width: 360px;
    border-radius: 6px;
    padding-left: 8px;
    margin-bottom: 30px;
}

.texthorario {
    color: white;
    font-weight: 200;
    margin-bottom: 8px;
}

.AGhorarios {
    display: flex;
    gap: 12px;
    margin-bottom: 35px;
}

.horario {
    color: white;
    border: solid 1px white;
    width: 83px;
    height: 27px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17 20 30);
    cursor: pointer;
    transition: 0.5s ease;
}
.horario:hover {
    background-color: rgb(47, 48, 11);
    border: solid 1px rgb(255, 241, 113);
}
.active {
    background-color: rgb(47, 48, 11);
    border: solid 1px rgb(255, 241, 113);
}

.ButtonAg {
    height: 37px;
    width: 340px;
    background-color: rgb(245, 202, 86);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.ButtonAg:hover {
    box-shadow: rgba(242, 255, 57, 0.35) 0px 0px 25px;
}

.AgenderConluido{
    background-color: rgb(10, 13, 24);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 240px;
    left: 650px;
    padding: 30px;
    border-radius: 15px;
    gap: 12px;
    z-index: 2;
}

.h1AGconcluido{
    color: white;
    width: 356px;
    text-align: center;
    font-size: 28px;
}

.ButtonAGconcluido{
    height: 35px;
    width: 130px;
    background: rgb(245, 202, 86);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}
.ButtonAGconcluido:hover{
    background-color: yellow;
    box-shadow: rgba(237, 255, 79, 0.35) 0px 0px 25px;
}

/*BOTAO DO ZAP*/

.ContactButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 50px;
    transition: 0.5s ease;
}

/* Animações */

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-50%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

/* */

.ContactButton:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 25px;
    border-radius: 50px;
}

/* PRIMEIRA SECTIOn  */

.Section1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('./imgs/Background.svg');
    background-size: cover;
    background-position: center;
}

header {
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    z-index: 2;
}

.Logoheader {
    width: 52px;
}

.SectionHeader {
    display: flex;
    align-items: center;
    gap: 50px;
}

.linkheader {
    margin-right: 25px;
    color: white;
    position: relative;
    opacity: 0.7;
    transition: 0.5s ease;
    background: none;
    cursor: pointer;
}

.linkheader:hover {
    opacity: 2;
}

.linkheader::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s ease;
}

.linkheader:hover:after {
    width: 100%;
}

.ButtonHeader {
    height: 35px;
    width: 260px;
    border-radius: 7px;
    background-color: rgb(245, 202, 86);
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s ease;
}

.ButtonHeader:hover {
    background-color: rgb(255, 230, 0);
    box-shadow: rgba(247, 255, 133, 0.35) 0px 0px 25px;
}

.section1Center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TextCenter {
    height: 120px;
    width: 857px;
    font-size: 45px;
    text-align: center;
    color: white;
}

.Psection1 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    color: white;
}

.ButtonSection1 {
    height: 35px;
    width: 200px;
    border-radius: 7px;
    background-color: rgb(245, 202, 86);
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s ease;
}

.ButtonSection1:hover {
    background-color: rgb(255, 230, 0);
    box-shadow: rgba(247, 255, 133, 0.35) 0px 0px 15px;
}

/* SEGUNDA SECTION */

.Section2 {
    height: 105vh;
    width: 100%;
    padding-top: 150px;
    background-color: rgb(13, 18, 30);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.DivImages {
    background-image: url('./imgs/imagesCut.svg');
    background-size: cover;
    background-position: center;
    width: 615px;
    height: 562px;
}

.DivTexts {
    width: 676px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lorem1 {
    color: white;
    font-size: 35px;
}

.lorem2 {
    color: white;
    opacity: 0.6;
}

.loremHorarios {
    color: white;
    font-weight: 500;
}

/* TERCEIRA SECTION */

.Section3 {
    height: 105vh;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: white;
}

.ElementsSection3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1Sec3 {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.LoremSec3 {
    width: 656px;
    text-align: center;
    margin-bottom: 70px;
}

.SectionCuts {
    display: flex;
    gap: 30px;
}

.BoxCut {
    height: 370px;
    width: 357px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.55) 5px 6px 15px;
    display: flex;
    flex-direction: column;
}

.Cutimg {
    width: 357px;
}

.divPrices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 50px;
}

.pCut {
    font-weight: 900;
    font-size: 18px;
}

.pPrice {
    background-color: black;
    color: white;
    height: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

/* QUARTA SECTION */

.Section4 {
    width: 100vw;
    height: 105vh;
    background-color: rgb(13, 18, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Sec4Elements {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50px;
}

.h1Sec4 {
    transform: rotate(-90deg);
    color: #555555;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 40px;
    position: relative;
    left: 280px;
}

.BoxCutter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CutterName {
    position: absolute;
    bottom: 70px;
    font-weight: 600;
    color: #dfb75a;
}

.ImgCutter {
    width: 270px;
}

.BoxIcons {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}



.social {
    color: white;
    background: transparent;
    transition: 0.5s ease;
}

.social:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

/* QUINTA SECTION */

.Section5 {
    height: 125vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Sec5Elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.h1Sec5 {
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.BoxLocates {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.Locateimg {
    width: 300px;
}

.Boxicons2 {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.social2 {
    font-size: 30px;
    color: black;
}